* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 100px;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;

}

.header {
    max-width: 1140px;
    display: flex;
    margin: auto;
    align-items: center;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.header ul li a:hover,
.home-active {
    border-bottom: 4px solid #b98b59;
    padding-bottom: 37px;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b98b59;
    
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
}

